@model TestWebApp.Models.AboutViewModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="form-group">
    <div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("Model")
        </div>
        <div class="col-xs-8 col-sm-9">
            @Model.ModelInfo
        </div>
    </div>    
    
    <div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("Operating System")
        </div>
        <div class="col-xs-8 col-sm-9">
            @Model.RaspberryPiInfo.OperatingSystem.ToString()
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("Host Name")
        </div>
        <div class="col-xs-8 col-sm-9">
            @Model.HostName
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("Installed RAM")
        </div>
        <div class="col-xs-8 col-sm-9">
            @((Model.RaspberryPiInfo.InstalledRam / (1024 * 1024)).ToString() + " MB")
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("Uptime")
        </div>
        <div class="col-xs-8 col-sm-9">
            @Model.RaspberryPiInfo.UptimeTimeSpan.ToString(@"d\d\ h\:mm\:ss")
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("Hardware")
        </div>
        <div class="col-xs-8 col-sm-9">
            @Model.RaspberryPiInfo.Hardware
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("CPU Model Name")
        </div>
        <div class="col-xs-8 col-sm-9">
            @Model.RaspberryPiInfo.ModelName
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("Processor Count")
        </div>
        <div class="col-xs-8 col-sm-9">
            @Model.RaspberryPiInfo.ProcessorCount.ToString()
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("CPU Temperature")
        </div>
        <div class="col-xs-8 col-sm-9">
            @(Model.CpuTemperature.ToString() + " °C")
        </div>
    </div>    
    
    <div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("Supported CPU Features")
        </div>
        <div class="col-xs-8 col-sm-9">
            @string.Join(' ', Model.RaspberryPiInfo.Features?? new string[0])
        </div>
    </div>

    @*<div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("CPU Architecture")
        </div>
        <div class="col-xs-8 col-sm-9">
            @Model.RaspberryPiInfo.CpuArchitecture
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("CPU Implementer")
        </div>
        <div class="col-xs-8 col-sm-9">
            @Model.RaspberryPiInfo.CpuImplementer
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("CPU Part Code")
        </div>
        <div class="col-xs-8 col-sm-9">
            @Model.RaspberryPiInfo.CpuPart
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("CPU Revision")
        </div>
        <div class="col-xs-8 col-sm-9">
            @Model.RaspberryPiInfo.CpuRevision
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("CPU Variant")
        </div>
        <div class="col-xs-8 col-sm-9">
            @Model.RaspberryPiInfo.CpuVariant
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("IsLittleEndian")
        </div>
        <div class="col-xs-8 col-sm-9">
            @Model.RaspberryPiInfo.IsLittleEndian.ToString()
        </div>
    </div>*@

    <div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("Raspberry Pi Version")
        </div>
        <div class="col-xs-8 col-sm-9">
            @Model.RaspberryPiInfo.RaspberryPiVersion.ToString()
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("Hardware Revision")
        </div>
        <div class="col-xs-8 col-sm-9">
            @Model.RaspberryPiInfo.Revision
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("Serial Number")
        </div>
        <div class="col-xs-8 col-sm-9">
            @Model.RaspberryPiInfo.Serial
        </div>
    </div>

    @*<div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("WiringPi Board Revision")
        </div>
        <div class="col-xs-8 col-sm-9">
            @Model.RaspberryPiInfo.WiringPiBoardRevision.ToString()
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3">
            @Html.Label("WiringPi Version")
        </div>
        <div class="col-xs-8 col-sm-9">
            @Model.RaspberryPiInfo.WiringPiVersion.ToString()

        </div>
    </div>*@

    @{
        int i = 0;
        foreach (var adapterInfo in Model.NetworkAdapterData)
        {
            <div class="row">
                <div class="col-xs-4 col-sm-3">
                    @string.Format("Network adapter {0}", ++i)
                </div>
                <div class="col-xs-8 col-sm-9">
                    @string.Format("Name: {0}; IP: {1}; MAC: {2}", adapterInfo.Name, adapterInfo.IPv4.ToString(), adapterInfo.MacAddress?.ToUpper())
                </div>
            </div>
        }
    }
</div>

